.info {
  max-width: 60%;
}
.aside {
  width: 33%;
  padding-top: 30px;
}
.asideItem {
  padding-bottom: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrap {
  display: flex;
  justify-content: space-between;
  border: 1px solid green;
}
