.createCourseBtnWrap {
  display: flex;
  justify-content: space-between;
}

.authorsBlock {
  display: flex;
  justify-content: space-between;
}
.courseInfoWrap,
.authorsInfoWrap {
  flex-basis: 50%;
}
.authorsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.authorsList > li {
  padding-bottom: 10px;
}
.authorsName {
  display: inline-block;
  width: 40%;
}
.boldHours {
  padding: 0 5px;
  font-weight: 600;
  font-size: 1.3em;
}
